[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc_version = "0.8.27"
# evm_version = "prague" - Monad testnet better with cancun or earlier? Keeping simple.

via_ir = true
optimizer = true
optimizer_runs = 200

# See more config options https://github.com/foundry-rs/foundry/tree/master/crates/config
